@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

:root {
  --primary-white: #fff;
  --primary-orange: rgb(248, 176, 43);
  --primary-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: "Roboto Condensed" sans-serif;
}

/* -------------NAV-LINKS---------------- */
nav {
  z-index: 2;
}
nav a.nav-link {
  letter-spacing: 0.0375rem;
  font-size: 0.9rem;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-bottom: 0.1875rem solid var(--primary-dark);
}

/* .navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-bottom: 0.1875rem solid var(--primary-orange);
} */

.navbar-nav > li a:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* -------------HEADER---------------- */
.header-wraper {
  position: relative;
  background: url(pexels-negative-space-169573.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-info {
  color: rgb(255, 136, 0);
  text-transform: uppercase;
}

/* -------------CARD---------------- */

.card-box {
  background-color: coral;
}

/* -------------Particles---------------- */

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media (max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}
